{% extends "base.html" %}
{% block content %}
    <h1>Questions List</h1>
    {% if user.is_authenticated and 'QuizManager.add_question' in user.get_all_permissions %}
        <p>Click <a href="{% url 'question-create' %}"><strong>Here</strong></a> to add a new question.</p>
    {% endif %}

    <ol>
        {% for question in question_list %}
            <li>
                <a href="{{ question.get_absolute_url }}">{{ question.question }}</a>
                (Author: {{ question.author }},
                last changed by: {{ question.updated_by }})
            </li>
        {% empty %}
            <p> There are no questions in the manager.</p>
        {% endfor %}
    </ol>
{% endblock %}