{% extends "base.html" %}

{% block content %}
    <h1>Question Management</h1>
    <h2>You can manage your question here.</h2>
    <p>To change the name, replace the text in the text box below.</p>
    <p>You can assign your question to any quizzes you like. You can use Ctrl+Click to select multiple.</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <h2>Your answers are also created here.</h2>
        <p>Please fill the text boxes with your answers, and mark any correct answers.</p>
        <table>
            {{ answers.as_p }}
        </table>
        <p>If you need more answer options, submit the ones you have now and manage the question again. More will have
            been created.</p>
        <p>Any answers left blank will not be shown on other pages.</p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}