{% extends "base.html" %}

{% block content %}
    <h1>Question: {{ question.question }}</h1>

    <p><strong>Author:</strong> {{ question.author }} <strong>Last Updated by:</strong> {{ question.updated_by }} </p>
    <p><strong>Last Edited at :</strong> {{ question.last_edited }}</p>
    <h4>In the following quiz(zes):</h4>
    <ol>
        {% for quiz in question.quiz.all %}
            <li>
                <a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a>
            </li>
        {% endfor %}
    </ol>

    {% if user.is_authenticated and 'QuizManager.view_answer' in user.get_all_permissions %}
        <h4>Answers:</h4>
        <ol type="A">
            {% for answer in question.answer_set.all %}
                <li>
                    {{ answer.answer }}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    {% if user.is_authenticated and 'QuizManager.change_question' in user.get_all_permissions %}
        <p>Click <a href="{% url 'question-update' pk=question.id %}"><strong>Here</strong></a> to modify this question
            and its
            answers.</p>
    {% endif %}

    {% if user.is_authenticated and 'QuizManager.delete_question' in user.get_all_permissions %}
        <p>Click <a href="{% url 'question-delete' pk=question.id %}"><strong>Here</strong></a> to delete this question.
    {% endif %}


{% endblock %}