{% extends "base.html" %}

{% block content %}
    <h1>Quiz: {{ quiz.name }}</h1>

    <p><strong>Author:</strong> {{ quiz.author }} <strong>Last Updated by:</strong>{{ quiz.updated_by }}</p>
    <p><strong>Last Edited at:</strong> {{ quiz.last_edited }}</p>
    <h4>Questions:</h4>
    {% if quiz.questions.all %}
        <div style="margin-left:20px;margin-top:20px">
            <ol>
                {% for question in quiz.questions.all %}
                    <li>
                        <a href="{{ question.get_absolute_url }}">{{ question.question }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <p>This quiz doesn't have any questions currently.</p>
    {% endif %}
    {% if user.is_authenticated and 'QuizManager.change_question' in user.get_all_permissions %}
        <p>Click <a href="{% url 'quiz-update' pk=quiz.id %}"><strong>Here</strong></a> to modify this quiz.</p>
    {% endif %}

    {% if user.is_authenticated and 'QuizManager.delete_question' in user.get_all_permissions %}
        <p>Click <a href="{% url 'quiz-delete' pk=quiz.id %}"><strong>Here</strong></a> to delete this quiz.
    {% endif %}
{% endblock %}