{% extends "base.html" %}

{% block content %}

    <h1>Delete Quiz</h1>

    <p>Please confirm you want to delete the following quiz: {{ question }}?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm.">
    </form>

{% endblock %}