{% extends "base.html" %}

{% block content %}
    <h1>Quizzes List</h1>
    {% if user.is_authenticated and 'QuizManager.add_quiz' in user.get_all_permissions %}
        <p>Click <a href="{% url 'quiz-create' %}"><strong>Here</strong></a> to add a new quiz.</p>
    {% endif %}
    <ol>
        {% for quiz in quiz_list %}
            <li>
                <a href="{{ quiz.get_absolute_url }}">{{ quiz.name }}</a>
                (Author: {{ quiz.author }},
                last changed by: {{ quiz.updated_by }})
            </li>
        {% empty %}
            <p>There are no quizzes in the manager.</p>
        {% endfor %}
    </ol>
{% endblock %}