{% extends "base.html" %}
{% block content %}
    <h1>Quiz Management</h1>
    <p>Please change the name of your quiz, and then click Submit.</p>
    <p>To add questions to your quiz, please navigate to the question you wish to add and manage it from there.</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}