<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Quiz Manager</title>{% endblock %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" rel="stylesheet">
    {# A styles sheet is loaded from the static folder.#}
    {% load static %}
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
</head>
<body class="body">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <img src="{% static "images/placeholder-logo.svg" %}"
                         alt="A placeholder logo, sourced from logoipsum.com">

                    {% if user.is_authenticated %}
                        <li>You are logged in as: {{ user.get_username }}</li>
                        <li>Click <a href="{% url 'logout' %}">here</a> to log out.</li>
                    {% else %}
                        <li>Click <a href="{% url 'login' %}?next={{ request.path }}">here</a> to log in.</li>
                    {% endif %}
                    <!--The template links below helps link to the index page by using the url var.-->
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'quizzes' %}">All Quizzes</a></li>
                    <li><a href="{% url 'questions' %}">All Questions</a></li>
                </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10 ">
            {% block content %}{% endblock %}
            {# The below block does not appear if the content block does not need to be paginated. #}
            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>