{% extends "base.html" %}

{% block content %}
    <h1>Quiz Manager Home</h1>
    <p>Welcome to my Quiz Manager. Here you can manage quizzes.</p>
    <p>The Quiz Manager currently manages these:</p>
    <ul style="list-style: none">
        {# The template variables below must match those found in the context dict in .views.py #}
        <li>{{ num_quizzes }}<strong> Quizzes</strong></li>
        <li>and</li>
        <li>{{ num_questions }}<strong> Questions</strong></li>
    </ul>
    <p>This site has had {{ visitor_count }} visitors.</p>
{% endblock %}