<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Something's not right there. Either your username or password is incorrect, please try again.<p>
    {% endif %}
{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <p><a href="{% url 'password_reset' %}">Click here if you have lost your password.</a></p>

{% endblock %}
