<p>A password reset has been requested for the account with this email address: {{ email }}. If this wasn't you, please
    ignore this email.</p>
<p>Otherwise, follow the link below:</p>
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
