/*
This CSS file has styles for all classes on base.html
All other html files extend this one, and so do not have their own stylesheet or classes.
To modify those pages, you will need to create classes and stylesheets accordingly.
*/

.body {
    background-color: rgba(119, 227, 205, 0.5);
    font-min-size: small;
    font-max-size: larger;
    font-family: "Times New Roman", serif;
}

.container-fluid {

}

.row {

}

.col-sm-2 {
    border-style: groove;
    border-color: rgba(119, 227, 205, 1);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;

}

.sidebar-nav {
    margin-top: 0;
    padding: 5%;
    list-style: none;
    margin-right: 5%;
    margin-left: 5%;
}

.col-sm-10 {
    padding: 2.5%;
    margin: 2.5% fill auto auto;
}

.pagination {

}

.page-links {

}

.page-current {

}